@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');


body{
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to right, rgb(199, 214, 216) , rgb(96, 198, 209));
}
.App{
  background-color: white;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 170px;
  left: 35%;
  border-radius: 30px;
  font-weight: 300;
  color: rgb(40, 39, 39);
}
.Input{
  border: none;
  border-bottom: 1px solid lightgray;
  width: 80%;
  text-align: center;
  padding: 10px 0;
  outline: none;
  font-size: 1.1em;
  margin-top: 5px;
}
.title{
  font-weight: 400;
  margin-bottom: 5px;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  font-weight: 500;
  position: relative;
}

.container-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.container-header > #temp{
    
    font-size: 2.5em;
}
.container-header > #desc{
  letter-spacing: 1px;
  font-size: 1.1rem; 
}
.container-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
.container-footer > .feet{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > .ıcon{
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
  top: 135px;
  position: absolute;
}
.humudity{
  margin-top: 30px;
  font-size: 2rem;
}
.feels{
  margin-top: 60px;
  font-size: 1.9rem;
}